input[type=range] {
    -webkit-appearance: none;
    background-color: #95D2D7;
    width: 200px;
    height:20px;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #0C3B4C;
    opacity: 0.7;
    width: 10px;
    height: 26px;
}

.new-button {
  position: relative;
  vertical-align: top;
  width: 150px;
  height: 30px;
  padding: 0;
  font-size: 15px;
  font-family:  "DIN", sans-serif
  color: #00343A;
  text-align: center;
  background: #95D2D7;
  border: 0;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #95D2D7;
}
.new-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.new-button:hover {
  top: 1px;
  outline: none;
  color: #95D2D7;
  background: #2B7984;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#legend{
	background: transparent;
	color: #95D2D7;
	font-family:  "DIN", sans-serif;
	float:left;
	width: 10%;
}

#mapSVG{
	background: transparent;
	float: left;
	width: 90%;
}

@font-face {
  font-family: "DIN";
  src: local(fonts/DINOT.otf);
}

body{
	background: #00343A;
	color: #95D2D7;
	font-family:  "DIN", sans-serif;
}

h1 {
	color: #95D2D7;
	font-family:  "DIN", sans-serif;
}

p {
	color: #95D2D7;
	font-family: "DIN", sans-serif;
}

#titleBox{
	background: transparent;
	color: #95D2D7;
	font-family:  "DIN", sans-serif;
	float:left;
	width: 20%;
}

#playButton{
	max-width: 30px;
}


